/*a mettre a jour*/
@media only screen and (max-width: 1200px) {
    *{
        font-size: large;
    }

    main{
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        background-color: rgb(247, 247, 247);
    }

    label#labelMenu{
        width: auto;
    }

    nav {
        height: 0;
        position: fixed;
    }
/*
    form{
        width: 80%;
        margin: 0 10%;
    }*/


    ul.menu li{
        display: none;
    }

    img#boutonMenu{
        display:block;
    }

    #bouton{
        display: none;
    }
    
    nav input{
        display: block;
    }
    
    #boutonMenu{
        width: 4em;
        border-radius: 0.5em;
    }

    ul.menu{
        display: inline-block;
        margin: 0;
    }
  }

/*actif*/
@media only screen and (max-width: 1000px) {
    *{
        font-size: x-large;
    }

    main{
        width: 95%;
        margin: 0 2.5%;
        background-color: rgb(247, 247, 247);
    }

    nav {
        height: 7%;
        position: fixed;
    }

    form{
        width: 70%;
        margin: 20% 15% 0 15%;
    }

    nav ul{
        background-image: url('img/iconeMenu.png');
        width: auto;
        height: auto;
        margin: 0 10%;
    }

    nav > input[type="checkbox"]:checked + label + ul{
        width: 100%;
    }

    nav ul > li a{
        width: 100%;
        background-color: #212529;
    }

    img#boutonMenu{
        display: block;
        border-radius: 1em;
    }

    nav > label > img#boutonMenu{
        width: 6em;
        max-height: 90%;
    }
    
    nav input{
        display: block;
    }
    
    #haut_page img{
        width: 5em;
    }

    div#haut_page img:hover{
        width: 5.1em;
    }
  }