
@media only screen and (max-width: 1200px) {
    *{
        font-size: large;
    }

    main{
        width: 70%;
        margin: 0 15%;
    }

    label#labelMenu{
        width: auto;
    }

    nav {
        height: 0;
        position: fixed;
        margin-bottom: 8em;
    }

    form{
        width: 80%;
        margin: 0 10%;
    }

    label{
        width: 8em;
    }

    ul.menu li{
        display: none;
    }

    img#boutonMenu{
        display:block;
    }

    #bouton{
        display: none;
    }
    
    nav input{
        display: block;
    }
    
    #boutonMenu{
        width: 4em;
        border-radius: 0.5em;
    }

    ul.menu{
        display: inline-block;
        margin: 0;
    }
  }

@media only screen and (max-width: 1000px) {
    *{
        font-size: x-large;
    }

    main{
        width: 80%;
        margin: 0 10%;
    }

    nav {
        height: 0;
        position: fixed;
        margin-bottom: 8em;
    }

    form{
        width: 80%;
        margin: 0 10%;
    }

    nav ul{
        width: 80%;
        margin: 0 10%;
        height: 4em;
    }

    img#boutonMenu{
        display: block;
    }
    
    nav input{
        display: block;
    }

    #boutonMenu{
        width: 8em;
        border-radius: 1em;
    }
  }