
@media only screen and (max-width: 1200px) {
    main{
        width: 70%;
        margin: 0 15%;
    }

    nav ul{
        width: 70%;
        margin: 0 15%;
        height: 4em;
    }

    nav {
        display: block;
        position: absolute;
        margin-top: 5.5em;
    }
    /*
    input[type="checkbox"]:checked + label img#boutonMenu + ul.menu li{
        display: flex;
        width: 3em;
        background-color: green;
    }/*

/*
    nav ul li{
        height: 100%;
        display: block;
    }*/

    label{
        width: 8em;
    }

    input[type="checkbox"] + label{
        width: 0;
        height: 0;
        border: 1px solid red;
        padding: 0;
        margin: 0;
    }

    ul.menu li{
        display: none;
    }

    img#boutonMenu{
        display:block;
    }

    #bouton{
        display: none;
    }
    
    nav input{
        display: block;
    }
  }

@media only screen and (max-width: 1000px) {
    main{
        width: 80%;
        margin: 0 10%;
    }

    nav ul{
        width: 80%;
        margin: 0 10%;
        height: 4em;
    }

    img#boutonMenu{
        display: block;
    }
    
    nav input{
        display: block;
    }
  }