* {
    margin: 0px;
    padding: 0px;
    font-family: "Calibri";
    font-size: medium;
}

body {
    width: 100%;
    background-color: #FAFAFA;
}


main {
    width: 60%;
    margin: 0 20%;
    padding-top: 10%;
    padding-bottom: 5%;
    height: 100vh;
}

h1 {
    color: #212529;
    text-align: center;
    font-size: 2em;
    padding-bottom: 5%;
}

nav {
    width: 100%;
    height: 4em;
    background-color: #212529;
    position: fixed;
}

nav ul {
    margin: 0 20%;
    height: 4em;
}

nav ul li:first-child {
    float: left;
}

nav ul li {
    height: 100%;
    float: right;
    display: float;
    list-style-type: none;
}


nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.42em;
    width: auto;
    background-color: #212529;
    transition-duration: 0.4s;
}

nav ul li button {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10%;
    min-width: 25%;
    background-color: #212529;
    transition-duration: 0.4s;
    border: 0;
    height: 100%;
    position: relative;

}


nav ul li a:hover {
    background-color: rgb(41, 101, 212);
    color: #212529;
    transition-duration: 0.3s;
}

.articles,
.connexion,
.panier,
.compte {
    font-weight: bold;
    color: rgb(41, 101, 212);
    border-bottom: 0.2em solid rgb(41, 101, 212);
    padding: 1.3em 1.42em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table#tabArticle td:first-child {
    margin-right: 1%;
}

table#tabArticle td:last-child {
    margin-left: 1%;
}

td>img {
    width: 70%;
    margin: 5% 0;
}

.divBarreRecherche {
    width: 50%;
    display: block;
}

input#inputRechercher {
    margin: 0;
    display: inline-block;
    height: 5em;
    width: 50%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1em 0 0 1em;
}

input#inputRechercher:hover {
    background-color: #f3f3f3;
}

form#formRecherche {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

.divBarreRecherche #boutonRechercher img {
    max-height: 25%;
}

.divBarreRecherche button#boutonRechercher {
    margin: 0;
    display: inline-block;
    height: 4em;
    width: 4%;
    max-width: 4%;
    border: 1px solid grey;
    border-radius: 0 1em 1em 0;
    background: linear-gradient(#212529, #212529);
    transition-duration: 0.2s;
}

button#boutonRechercher:hover {
    cursor: pointer;
    background: #212529;
    background: linear-gradient(#212529, #1b3e7a);
    transition-duration: 0.2s;
}

form {
    width: 30%;
    margin: 0% 35% 0 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}

form.connexion_creercompte {
    background-color: #FAFAFA;
    border: 1px solid #cccccc;
    margin-top: 10%
}

fieldset {
    border: 0;
}

input[type=text],
input[type=password],
input[type=mail],
input[type=search],
textarea {
    font-size: small;
    display: inline-block;
    background: white;
    border: 1px solid #b3b3b3;
    border-radius: 0.2em;
    width: 75%;
    margin: 1.5% 11% 0 11%;
    padding: 2%;
    transition-duration: 0.2s;
}


input[type="text"]:hover,
input[type=mail]:hover,
input[type=password]:hover,
textarea {
    background-color: rgb(241, 241, 241);
}

input[type="text"]:focus,
input[type="mail"]:focus,
input[type="password"]:focus,
textarea {
    transition-duration: 0.2s;
    background-color: rgb(236, 236, 236);
    border: 1px solid #212529;
}

fieldset:focus-within>input[type=text]:valid {
    transition-duration: 0.2s;
    background-color: rgb(236, 236, 236);
}

fieldset:focus-within>input[type=mail]:valid {
    transition-duration: 0.2s;
    background-color: rgb(236, 236, 236);
}

fieldset:focus-within>input[type=password]:valid {
    transition-duration: 0.2s;
    background-color: rgb(236, 236, 236);
}

fieldset>input[type=text]:valid,
input[type=mail]:valid,
input[type=password]:valid {
    border-color: green;
    border-width: 1px;
}

fieldset {
    width: auto;
    padding: 0;
    margin: 0;
}

fieldset label {
    display: none;
    /*font-size: large;
    width: 15%;
    margin-left:15%;
    margin-top: 1em;
    display: inline-block;
    border: 1px solid red;*/
}

::placeholder {
    color: #C5C5C5;
}

fieldset label.resterConnecte {
    display: inline-block;
    font-size: small;
}

.fieldsetResterConnecte {
    margin-top: 5%;
    font-size: small;
    width: 40%;
    margin-left: 11%;
}

input[type=submit] {
    display: inline-block;
    margin-top: 3%;
    padding: 1.5%;
    background-color: #212529;
    color: white;
    border: 0;
    width: 80%;
    border-radius: 0.5em;
    margin-left: 10.5%;
    margin-right: 10.5%;
    transition-duration: 0.3s;
    border: 2px solid white;
}

input[type=submit]:hover {
    background-color: rgb(41, 101, 212);
    color: #212529;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 2px solid #212529;
}

.createCompte {
    display: block;
    /*width: 40%;
    margin-left: 30%;
    margin-right: 30%;*/
    text-align: center;
}

.createCompte {
    background-color: #FAFAFA;
    width: 28%;
    margin: 3% 35% 0 35%;
    padding: 1%;
    border: 1px solid #cccccc;
}

.createCompte p a {
    color: #212529;
    text-decoration: none;
    color: rgb(41, 101, 212);
}

.createCompte p a:hover {
    color: rgb(41, 101, 212);
    text-decoration: underline;
}


footer {
    width: 100%;
    height: 4em;
    background-color: #212529;
}

footer p {
    font-size: 1em;
    color: white;
    padding: 1.5em 0;
    text-align: center;
}

footer p a {
    color: white;
}

footer p a:hover {
    color: rgb(224, 224, 224);
}

#imgDeconnexion {
    text-align: center;
    height: 0.9em;
}

a img#imgPanier {
    text-align: center;
    height: 0.9em;
}


#imgFleche {
    text-align: center;
    height: 0.9em;
}

.divCompte {
    margin: 5% 25% 0 25%;
    max-width: 50%;
    padding: 3%;
}

.divCompte p {
    color: red;
}

.divCompte table {
    height: auto;
    border-collapse: collapse;
    padding: 0;
}

.divCompte table tr td {
    padding: 1em 0;
    border: 0;
    margin: 0;
    border-bottom: 1px solid rgb(133, 133, 133);
    color: #212529;
    text-align: left;
}

.divCompte table tr:first-child td {
    padding-top: 0;
}

.divCompte table tr td:first-child {
    color: rgb(133, 133, 133);
}


@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Style pour le bouton */
.buttonMenu {
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.buttonMenu:hover {
    background-color: #4CAF50;
}

.buttonMenu:focus {
    background-color: #4CAF50;
}


/* Style pour le sous-menu */
.sousMenu {
    display: none;
    list-style-type: none;
    background-color: black;
    border: 10px solid black;
    position: fixed;
    border-radius: 0 0.75em 0.75em 0.75em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sousMenu a:first-child {
    border-radius: 0 0 0 0.5em;
}

.sousMenu a {
    border-radius: 0 0.5em 0.5em 0;
}

/* Style pour le sous-menu lorsqu'il est affiché */
.show {
    display: flex;
    flex-direction: row;
}

div a {
    color: white;
    text-decoration: none;
    height: 100;
    width: 100;
}

img#boutonMenu {
    display: none;
}

nav input {
    display: none;
}

#boutonMenu {
    position: float;
    z-index: 1;
    border-width: 0;
    background-color: #212529;
    border: solid 1px #212529;
}

label:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked+label img#boutonMenu {
    background-color: rgb(41, 101, 212);
}

input[type="checkbox"]:checked+label+ul.menu li {
    display: flex;
    width: 100%;
}

input[type="checkbox"]:checked+label+ul.menu li {
    display: flex;
    float: left;
}

#boutonMenu:hover {
    border: solid 1px white;
}

#bouton {
    display: none;
}

label#labelMenu {
    width: 0;
}

#haut_page img {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 3em;
    transition-duration: 0.1s;
    background-color: #212529;
    padding: 0.2em;
    border-radius: 1em;

    /*background-image: url('../img/fleche_haut.png');*/
}

/*div#haut_page{
    background-color: red;
    border: 1px solid #212529;
    margin-left: 50%;
    width: 5%;
    height: 5%;
    display: float;
    transition-duration: 0.4s;
}*/

div#haut_page img:hover {
    transition-duration: 0.1s;
    background-color: rgb(41, 101, 212);
    width: 3.1em;
}

#haut_page:hover {
    cursor: pointer;
}

#gifPanierVide {
    display: block;
}

img#gifPanierVide {
    width: 50%;
    margin: 5% 25% 0 25%;
}

input#quantite {
    appearance: none;
    background-color: #e6e6e6;
    border-radius: 0.5em;
    border: 0;
    width: 15%;
    height: 2.5em;
    display: inline-block;
    text-align: center;
}

input#quantite:hover {
    background-color: #cccccc;
}

input#quantite::placeholder {
    color: black;
}

table#tableauPanier td:first-child {
    max-width: 20%;
    margin: 0;
}

table#tableauPanier td {
    margin: 0;
    height: 100%;
    padding: 2% 1% 2% 1%;
    width: 76%;
}

table#tableauPanier tr {
    height: 10%;
    margin-bottom: 1%;
    border-bottom: 1px solid #C5C5C5;
}

table#tableauPanier img {
    margin: 0;
    max-width: 60%;
    margin: 10%;
}

table#tableauPanier {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

table#tableauPanier h2 {
    text-align: left;
}

table#tableauPanier form {
    margin: 0;
    padding: 0;
}

table#tableauPanier form input[type=submit] {
    margin: 0;
    width: auto;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    cursor: pointer;
}

.prix {
    display: inline-block;
    width: 49%;
    text-align: left;
    font-weight: bold;
}

.prix p {
    color: #B12704;
    font-size: x-large;
}

p.prix {
    text-align: right;
    color: #B12704;
    font-size: large;
}

.prix+form {
    display: inline-block;
    width: 49%;
}

.ajouterPanier {
    background-color: #212529;
    padding: 1%;
    border-radius: 0.75em;
}

.ajouterPanier:hover {
    transition-duration: 0.2s;
    background-color: rgb(41, 101, 212);
}

form fieldset button.ajouterPanier {
    border: none;
    display: inline-block;
    margin-left: 60%;
}

button:hover .ajouterPanier {
    cursor: pointer;
}

table#tabArticles tr td {
    background-color: rgb(241, 241, 241);
    border-radius: 1em;
    display: inline-block;
    width: calc(93%/3);
    margin-top: 1%;
}

a#passerCommande {
    text-align: right;
    display: inline-block;
    padding: 0.5% 2% 0.5% 2%;
    background-color: rgb(38, 117, 38);
    color: rgb(13, 37, 13);
    border: 0;
    border-radius: 0.5em;
    margin-left: 10.5%;
    margin-right: 10.5%;
    transition-duration: 0.3s;
    border: 2px solid rgb(13, 37, 13);
    text-decoration: none;
}

a#passerCommande:hover {
    background-color: rgb(21, 63, 21);
    cursor: pointer;
    color: rgb(218, 218, 218);
    transition-duration: 0.2s;
}

div a#passerCommande {
    float: right;
}

a#bouton {
    text-align: right;
    display: inline-block;
    padding: 0.5% 2% 0.5% 2%;
    background-color: #212529;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 0.5em;
    margin-left: 10.5%;
    margin-right: 10.5%;
    transition-duration: 0.3s;
    border: 2px solid white;
    text-decoration: none;
}

a#bouton:hover {
    background-color: rgb(41, 101, 212);
    cursor: pointer;
    color: #212529;
    border: 2px solid rgb(13, 37, 13);
    transition-duration: 0.2s;
}

table.facture {
    border-radius: 2em;
}

.divFacture {
    background-color: white;
    border: 1px solid #212529;
    padding: 2%;
    margin-bottom: 10%;
}

table.facture tr td {
    background-color: none;
    padding: 1% 1% 0% 1%;
    text-align: left;
    padding-bottom: 1%;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 1% 0 0 0;
    width: 48%;
}

.panierNomProduit {
    width: 70%;
    display: inline-block;
}

.panierPrix {
    text-align: right;
    width: 30%;
    display: inline-block;

}

.panierQuantite {
    width: auto;
    float: left;
    text-align: left;

}

form#modifierQuantitePanier {
    width: auto;
}

.panierSupprimer {
    float: bottom-left;
    text-align: left;
}

.infosCommande {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.infosCommande p:first-child {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.infosCommande p:last-child {
    text-align: right;
    display: inline-block;
    width: 50%;
}

.infosCommande a#passerCommande {
    margin: 0;
}

div.panierPrix b {
    font-size: large;
}

.menuAdmin {
    background-color: #212529;
    color: #212529;
    width: 10%;
    text-decoration: none;
    position: fixed;
    padding-top: 20%;
    padding-bottom: 35%;
}

.menuAdmin li a {
    margin-left: 5%;
    text-decoration: none;
}

.menuAdmin li a:hover {
    text-decoration: underline;
}

.blue {
    color: #2965D4;
}

table.bdd {
    border-spacing: 0;
}

table.bdd td {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    text-align: right;
    margin: 0;
    margin-right: 0.1%;
    width: 10%;
    transition-duration: 0.1s;
}

table.bdd tr {
    background-color: #F8F9FA;
    margin: 0 1% 0 0;
}

table.bdd tr:hover td {
    background-color: #d6d6d6;
    transition-duration: 0.1s;
}

table.bdd tr:first-child td {
    background: linear-gradient(white, rgb(182, 182, 182));
    color: #235A81;
    text-align: left;
}

table.bdd tr:nth-child(3) td,
table.bdd tr:nth-child(5) td,
table.bdd tr:nth-child(7) td,
table.bdd tr:nth-child(9) td,
table.bdd tr:nth-child(11) table.bdd tr:nth-child(13) table.bdd tr:nth-child(15) td {
    background-color: #e6e6e6;
}

table.bdd tr:nth-child(3):hover td,
table.bdd tr:nth-child(5):hover td,
table.bdd tr:nth-child(7):hover td,
table.bdd tr:nth-child(9):hover td,
table.bdd tr:nth-child(11):hover table.bdd tr:nth-child(13):hover table.bdd tr:nth-child(15):hover td {
    background-color: #d6d6d6;
}

table.bdd td button {
    background-color: none;
}

#ajouter img {
    position: fixed;
    bottom: 3%;
    right: 10%;
    width: 5em;
    transition-duration: 0.1s;
    background-color: rgb(0, 102, 0);
    padding: 0.2em;
    border-radius: 1em;
}

div#ajouter img:hover {
    transition-duration: 0.1s;
    background-color: green;
    width: 5.1em;
}

#ajouter:hover {
    cursor: pointer;
}

a.retourPage {
    color: #212529;
    text-decoration: underline;
}

a.retourPage:hover {
    text-decoration: none;
}

form#formAjouter {
    background-color: white;
    width: 40%;
    margin: 0 30%;
}

form#formAjouter label {
    display: contents;
}

fieldset#supression p {
    display: inline-block;
    width: 10%;
}

fieldset#supression:first-child {
    padding: 0 37%;
}

a#retourPageArticle {
    color: #212529;
    text-decoration: underline;
}

a#retourPageArticle:hover {
    text-decoration: none;
}

fieldset#supression input[type="radio"] {
    width: 10%;
    display: inline-block;
    width: 2vw;
    height: 2vh;
    cursor: pointer;
}

input.supprimerProduit {
    border: 0;
    margin: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    padding: 0;
}

input.supprimerProduit:hover {
    border: 0;
    margin: 0;
    text-decoration: underline;
    background-color: transparent;
}

input[value="Supprimer"] {
    color: #235AA0;
}

input[value="Supprimer"]:hover {
    color: #235AA0;
    text-decoration: underline;
}


input[type=submit]#ajouterItem {
    background-color: rgb(1, 71, 1);
}

input[type=submit]#ajouterItem:hover {
    background-color: green;
}

a#retourPageArticle {
    color: #212529;
    text-decoration: underline;
}

a#retourPageArticle:hover {
    text-decoration: none;
}

ul#indexAdminTables li a {
    color: #2965D4;
    text-decoration: none;
}

ul#indexAdminTables li a:hover {
    text-decoration: underline;
}

ul#indexAdminTables li img {
    width: 2%;
    margin-right: 0.5%;
}

ul#indexAdminTables {
    list-style-type: none;
}

table.facture tr td {
    width: 10%;
}

table.clientFacture {
    margin-top: 5%;
    border-collapse: collapse;
    width: 50%;
    margin-right: 50%;

}

table.clientFacture tr {
    border-collapse: collapse;
    border-bottom: 1px solid #CFCFCF;
    width: 50%;

}

table.clientFacture tr td {
    background-color: transparent;
    text-align: left;
    width: 20%;
    margin: 0;
}

table.clientFacture tr td:first-child {
    font-weight: bold;
}

table.totalFacture {
    margin-top: 10%;
    width: 30%;
    margin-left: 75%;
}

table.totalFacture tr {
    border-collapse: collapse;
}

table.totalFacture tr td {
    margin: 0;
    text-align: left;
}

.divFacture>h3 {
    font-size: x-large;
}

table.facture {
    margin-top: 10%;
}

table.facture tr:first-child td {
    font-weight: bold;
}

table.facture tr:first-child {
    border-top: 1px solid black;
}

.article td {
    text-align: center;
    display: inline-block;
}


table#clientTD td {
    width: calc(100%/7.1);
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#clientTD tr:first-child td:hover {
    text-overflow: ellipsis;
    overflow: visible;
}

table#clientTD td:hover {
    text-overflow: clip;
    overflow: auto;
}

table#facturationTD td {
    width: calc(100%/10.1);
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#facturationTD tr:first-child td:hover {
    text-overflow: ellipsis;
    overflow: visible;
}

table#facturationTD td:hover {
    text-overflow: clip;
    overflow: auto;
}

table#fournisseurTD td {
    width: calc(100%/6.1);
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#fournisseurTD tr:first-child td:hover {
    text-overflow: ellipsis;
    overflow: visible;
}

table#fournisseurTD td:hover {
    text-overflow: clip;
    overflow: auto;
}

table#marqueTD td {
    width: calc(100%/3.1);
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#marqueTD tr:first-child td:hover {
    text-overflow: ellipsis;
    overflow: visible;
}

table#marqueTD td:hover {
    text-overflow: clip;
    overflow: auto;
}


form input.supprimerProduit {
    margin: 0;
}

form.formBDD {
    margin: 0 5%;
}

.accueilButton {
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 30%;
    right: 30%;
    /* pour centrer le bouton */
}


.accueilButton a {
    width: 40%;
    bottom: 50;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em;
    color: #000000;
    background-color: #ffc107;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.accueilButton a:hover {
    background-color: #dba608;
}

span#panier-badge{
    display: float;
    text-align: right;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    display: float;
    float: right;
    text-align: right;
    background-color: white;
    color: black;
}

nav ul li.imageCompte a{
    display: inline-block;
    background-image: url("../img/icone-compte.png");
    background-size: 1.82em;
    padding: 2em;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

nav ul li.imageCompteFocus a{
    display: inline-block;
    background-image: url("../img/icone-compte-focus.png");
    background-size: 1.82em;
    padding: 1.9em;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

nav ul li.imageCompteFocus a:hover{
    background-image: url("../img/icone-compte.png");
}

nav ul li.imageCompte{
    height: 100%;
}

nav ul li.imageCompte a:hover{
    background-image: url("../img/icone-compte-hover.png");
}

/*panier*/
nav ul li.imagePanier a{
    display: inline-block;
    background-image: url("../img/icone-panier.png");
    background-size: 1.82em;
    padding: 2em;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

nav ul li.imagePanierFocus a{
    display: inline-block;
    background-image: url("../img/icone-panier-focus.png");
    background-size: 1.82em;
    padding: 1.9em;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

nav ul li.imagePanier a:hover{
    background-image: url("../img/icone-panier.png");
}

nav ul li.imagePanier{
    height: 100%;
}

nav ul li.imagePanier a:hover{
    background-image: url("../img/icone-panier-hover.png");
}

